---
layout: default
---

<!-- Load visualization stuff -->

<script type="text/javascript" src="../js/vis.js"></script>
<script type="text/javascript" src="../js/underscore.js"></script>
<script type="text/javascript" src="../js/palette.js"></script>
<script type="text/javascript" src="../js/courses.js"></script>
<link href="../css/vis.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    #mynetwork {
      width: 100%;
      height: 800px;
      border: 1px solid lightgray;
    }
</style>

<div class="container">
  {{ content }}
</div>

<div id="mynetwork"></div>

<script type="text/javascript">
async function loadCourses() {
  // Ensure courses are loaded first
  const courses = await loadCoursesCSV('/descartes-modules/course-sites/descartes-courses.csv');
  if (courses === false) {
    console.error('Failed to load courses.');
    return;
  }

  var courseColors = generateColorPalette(courses.length);

  var nodes = [];
  var edges = [];

  var existing = new Set();

  var processCourse = function(course, nodes, edges, color) {
    if (existing.has(course.id)) return; // skip duplicate
    existing.add(course.id);
    console.log('Processing course:', course.name);
    nodes.push({
      id: course.url,
      label: generateCourseTitle(course),
      color: '#' + color,
      shape: 'box',
      title: course.description
    });
    if (course.prerequisites && Array.isArray(course.prerequisites) && course.prerequisites.length > 0) {
      // Filter out empty prerequisites and map them back to course names
      var edgeList = course.prerequisites
          .filter(p => p && p.trim() !== '')
          .map(prereq => {
              console.log('Processing prerequisite:', prereq);
              const prereqId = generateCourseId(prereq)
              const prereqUrl = courses.find(c => c.id == prereqId)?.url;
              return {
                from: course.url,
                to: prereqUrl,
                arrows: 'from',
                color: { color: '#' + color }
              };
          });
      }
      edges.push(...edgeList);
    }

  // Now, for each course, get the global variable and process it
  for (const course of courses) {
    var color = courseColors[courses.indexOf(course)];
    processCourse(course, nodes, edges, color);
  }

  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    layout: { randomSeed: 2},
    nodes: { font: { color: 'white' } },
    physics: {stabilization: true}
  };
  var network = new vis.Network(container, data, options);
  network.on("doubleClick", function (params) {
    if (params['nodes'].length > 0) {
      console.log('Opening course:', params['nodes'][0]);
      // Open the course URL in a new tab
      window.open(params['nodes'][0], '_blank');
    }
  });
}
loadCourses();
</script>