---
layout: default
---

<script type="text/javascript" src="../js/vis.js"></script>
<script type="text/javascript" src="../js/underscore.js"></script>
<link href="../css/vis.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    #mynetwork {
      width: 100%;
      height: 800px;
      border: 0px solid lightgray;
    }
</style>

<div class="container">
  {{ content }}
</div>


<div id="mynetwork"></div>

<script type="text/javascript">

  var addModuleProperties = function(modules) {
    _.each(modules,
        function(module) {
          module['id'] = getID();
          module['shape'] = 'box';
          module['label'] = module.course + ": " + module.module;
          module['level'] = parseInt(module.course.substring(0, 2));
        });
    return modules;
  };

  var setModuleProperty = function(modules, property, propertyValue) {
    _.each(modules,
        function(module) {
          module[property] = propertyValue;
        });
    return modules;
  };

  var addModuleColor = function(modules, color) {
    _.each(modules,
        function (module) {
          module['color'] = color;
        });
    return modules;
  }


  /////////////////////////////////////////////////


  // Add IDs and other standard properties to all modules.
  setModuleProperty(courses2, 'shape', 'box');

  var coursesDataSet = new vis.DataSet(courses2);
  var courseLinksDataSet = new vis.DataSet(courselinks);

  // create a network
  var container = document.getElementById('mynetwork');

  // provide the data in the vis format
  var data = {
    nodes: coursesDataSet,
    edges: courseLinksDataSet
  };

  var options = {
    edges: { arrows: 'to'},
    layout: {hierarchical:{direction: "LR"}}};
  //options = {};

  // initialize your network!
  var network = new vis.Network(container, data, options);
</script>

