---
layout: default
---

<!-- Load visualization stuff -->

<script type="text/javascript" src="../js/vis.js"></script>
<script type="text/javascript" src="../js/underscore.js"></script>
<script type="text/javascript" src="../js/palette.js"></script>
<script type="text/javascript" src="../js/courses.js"></script>
<link href="../css/vis.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    #mynetwork {
      width: 100%;
      height: 800px;
      border: 1px solid lightgray;
    }
</style>

<div class="container">
  {{ content }}
</div>

<div id="mynetwork"></div>

<script>
async function loadModules() {
  // Ensure courses are loaded first
  const courses = await loadCoursesCSV('/descartes-modules/course-sites/descartes-courses.csv');
  if (courses === false) {
    console.error('Failed to load courses.');
    return;
  }

  var courseColors = generateColorPalette(courses.length);

  var nodes = [];
  var edges = [];

  var existing = new Set();

  var processModules = function(course, nodes, edges, color) {
    for (var i = 0; i < course.moduleInfo.modules.length; i++) {
      var module = course.moduleInfo.modules[i];
      var moduleUrl = generateModuleUrl(course.url, module.moduleUrl);
      if (existing.has(moduleUrl)) continue; // skip duplicate
      existing.add(moduleUrl);
      nodes.push({
        id: moduleUrl,
        label: generateModuleLabel(course.name, module.title),
        color: '#' + color,
        shape: 'box',
        title: module.description
      });
      if (i < (course.moduleInfo.modules.length - 1)) {
        edges.push({
          from: moduleUrl,
          to: generateModuleUrl(course.url, course.moduleInfo.modules[i + 1].moduleUrl),
          arrows: 'to',
          color: '#' + color
        });
      }
    }
    _.each(course.moduleInfo.prerequisites, function (prereq) {
      edges.push({
        from: prereq.moduleUrl,
        to: prereq.prerequisiteUrl,
        arrows: 'from',
        color: '#' + color
      });
    });
  };

  for (const course of courses) {
    let success = await loadCourseModuleInfo(course);
    if (!success) {
      console.warn(`Failed to load module info for course: ${course.id}`);
      continue;
    }
    var color = courseColors[courses.indexOf(course)];
    if (course.moduleInfo && course.moduleInfo.modules && course.moduleInfo.prerequisites) {
      processModules(course, nodes, edges, color);
    } else {
      console.warn(`No module info found for course: ${course.id}`);
    }
  }

  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    layout: { randomSeed: 2},
    nodes: { font: { color: 'white' } },
    physics: {stabilization: true}
  };
  var network = new vis.Network(container, data, options);
  network.on("doubleClick", function (params) {
    if (params['nodes'].length > 0) {
      window.open(params['nodes'][0], '_blank');
    }
  });
}
loadModules();
</script>